.navbar {
  background: steelblue;
}

.fas {
  color: white;
}

.fa-check {
  cursor: pointer;
}

.fa-cog {
  color: steelblue;
}

.form-group {
  padding-top: 30px;
}

.navbar-brand {
  color: white;
  font-weight: bold;
}

.row {
  padding-top: 30px;
}
